{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}详细内容{% endblock %}
{% block css %}
{% endblock %}
{% block content %}

<div class="container-fluid">
<ol class="breadcrumb offset-1" style="background: #FFFFFF;margin-top: 30px; margin-bottom: 50px;">
  <li class="breadcrumb-item"><a href="/index/">Home</a></li>
  <li class="breadcrumb-item"><a href="/blog/">博客</a></li>
  <li class="breadcrumb-item"><a href="#">内容：{{ article_detail.blog_title }}</a></li>
</ol>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-left">
                <!-- 标题及作者 -->
                <h1 class="text-left page-header">{{ article_detail.blog_title }}</h1>
                <hr>
                <!-- 视频地址 -->
                {% if article_detail.blog_video_id %}
                <div class="text-center">
                    <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="600" height="300"
                          poster="http://video-js.zencoder.com/oceans-clip.png"
                          data-setup="{}">
                        <source src="/{{ uservideo.video_path }}" type='video/mp4' />

                    </video>
                </div>
                {% else %}
                {% endif %}

                <div class="col-12 alert alert-info">作者：{{ article_detail.author }} , 更新时间：{{ article_detail.blog_update_time }} , 点击次数：{{ article_detail.views }}</div>
                <!-- 文章正文 -->
                <div class="col-12">
                    <br><pre>{{ article_detail.blog_body }}</pre>><br/>
                </div>
            </div>
            <hr style="height:1px;border: none;border-top:1px solid #46b8da;margin: 15px auto; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));"/>


            <div>
                {% if message %}
                      <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                {% if request.session.is_login %}
                    <div class="form-group">
                        <label for="body">
                            <strong>我也要发言：</strong>
                        </label>
                        <textarea type="text" class="form-control" id="body" name="body" rows="4" style="resize:none;"></textarea>
                    </div>
                    <!-- 提交按钮 -->
                    <button type="button" class="btn btn-outline-info" name="comment_sub" id="comment_sub">发送</button>
                {% else %}
                    <textarea type="text" class="form-control" rows="4" wrap="hard" style="resize:none";>尚未登录无法评论</textarea>
                {% endif %}
            </div>
            <div class="page-header">
                <p><h4>评论:</h4></p>
                <h4>共有{{ comments.count }}条评论</h4>
                <div>
                    {% for comment in comments %}
                        <hr>
                        <p>
                            {% for profile in profiles %}
                                {% if comment.comment_user_id_id == profile.user_id %}
                                    {% if profile.avatar %}
                                        <img src="{{ profile.avatar.url }}" style="border-radius: 15%;" height="80" width="80" >
                                    {% else %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <strong style="color: pink">
                                {{ comment.comment_user_id }}
                            </strong>于
                            <span style="color: green">
                                {{ comment.comment_time|date:"Y-m-d H:i:s" }}
                            </span> 时说：
                        </p>
                        <pre style="font-family: inherit; font-size: 1em;">{{ comment.comment_content }}</pre>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-form.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script>
$(function () {
    $("#comment_sub").click(function () {
        submit();
    });

    function submit() {
        var form = new FormData;
        var body = $('#body').val();
        form.append("body", body);
        form.append("csrfmiddlewaretoken", '{{ csrf_token }}');
        $.ajax({
            type: 'post',
            url: '/comment_post/{{ article_detail.id }}/',
            data: form,
            processData: false,  // 告诉jquery不转换数据
            contentType: false,
            success: function (data) {
                console.log(data);
                if (data['status'] == 1) {
                    alert(data['message']);
                    location.reload();
                }
                if (data['status'] != 1) {
                    alert(data['message']);
                }

            },
        });
    }
})

</script>

{% endblock %}
