{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}我的博客{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb offset-1" style="background: #FFFFFF;margin-top: 30px; margin-bottom: 50px;">
      <li class="breadcrumb-item"><a href="/index/">Home</a></li>
      <li class="breadcrumb-item"><a href="/blog/">博客</a></li>
      <li class="breadcrumb-item"><a href="#">我的博客</a></li>
    </ol>
</div>
    {% if not request.session.is_login %}
    <h1>没有登录，请登录</h1>
    {% else %}
    <div class="container">
        <div class="col-12">
            <h1>{{ request.session.user_name }}的个人博客管理界面</h1>
            <hr>
            <div>
                <a href="/my_blog/add_blog/">
                    <button type="button" class="btn btn-outline-info">新增文章</button>
                </a>
            </div>
            <div class="container">
                <div class="row mt-4 jumbotron">
                    {% for my_blog in my_blogs %}
                        {% if not my_blog.isDelete %}
                        <!-- 文章内容 -->
                        <div class="col-6 mb-4">
                        <!-- 卡片容器 -->
                            <div class="card h-100">
                                <h4 class="card-header">{{ my_blog.blog_title }}</h4>
                                <div class="card-body">
                                    <p class="card-text">{{ my_blog.blog_body|slice:'50' }}...</p>
                                </div>
                                <div class="card-footer">
                                    <a href="/blog/article_detail/{{ my_blog.id }}/#" class="btn btn-outline-secondary">阅读本文</a>
                                    <a href="javascript:" class="btn btn-outline-danger offset-4" id="article_delete" name="article_delete" onclick="del_article(this, {{ my_blog.id }}, '{{ my_blog.blog_title }}');" >删除</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="{% static 'js/jquery-form.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script>
    function del_article(the, my_blog_id, my_blog_title) {
        if(window.confirm('是否要删除文章：'+ my_blog_title)) {
            //alert("确定");
            $.ajax({
            url: '/article_delete/',
            type: 'post',
            data: {"article_id": my_blog_id, "csrfmiddlewaretoken": '{{ csrf_token }}'},
            success: function (data) {
                if (data['status'] != 1){
                    alert(data['message'])
                }
                if (data['status'] == 1){
                    alert(data['message']);
                    location.reload()
                }
            }
        });
            return true;
        }else{
            //alert("取消");
            return false;
        }
    }
</script>

{% endif %}
{% endblock %}