{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Blog{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    {%  if not request.session.user_name %}
    <h1>抱歉，没有登录！</h1>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <!-- 提交文章的表单 -->
                <form method="POST" action="/my_blog/add_blog/" enctype="multipart/form-data">
                    {% if message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                    <!-- Django中需要POST数据的地方都必须有csrf_token -->
                    <!-- 文章标题 -->
                    <div class="form-group">
                        <!-- 标签 -->
                        <label for="title">文章标题</label>
                        <!-- 文本框 -->
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <!-- 文章正文 -->
                    <div class="form-group">
                        <label for="body">文章正文</label>
                        <!-- 文本区域 -->
                        <textarea type="text" class="form-control" id="body" name="body" rows="20"></textarea>
                    </div>
                    <input type="file" id="video" name="video" />
                    <div class="progress" style="width: 500px">
                        <div id="progress-bar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                    <!-- 提交按钮 -->
                    <button id="btn" value="upload" class="btn btn-primary">完成</button>
                </form>

<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script>
    $(function () {
        $("#btn").on('click', function () {
            UploadFile();
        });

        $("#video").change(function () {
            $("#progress-bar").css("width", 0);
        });

        // ajax + jQuery上传
        function UploadFile() {
            var xhrOnProgress = function (fun) {
                xhrOnProgress.onprogress = fun; //绑定监听
                //使用闭包实现监听绑
                return function () {
                    //通过$.ajaxSettings.xhr();获得XMLHttpRequest对象
                    var xhr = $.ajaxSettings.xhr();
                    //判断监听函数是否为函数
                    if (typeof xhrOnProgress.onprogress !== 'function')
                        return xhr;
                    //如果有监听函数并且xhr对象支持绑定时就把监听函数绑定上去
                    if (xhrOnProgress.onprogress && xhr.upload) {
                        xhr.upload.onprogress = xhrOnProgress.onprogress;
                    }
                    return xhr;
                }
            }

            var file = $("#video")[0].files[0];
            var form = new FormData();
            form.append('title');
            form.append('body');
            form.append('video', file);
            form.append("csrfmiddlewaretoken", '{{ csrf_token }}');
            $.ajax({
                type: 'POST',
                url: '',
                data: form,
                processData: false,  // 告诉jquery不转换数据
                contentType: false,  // 告诉jquery不设置内容格式
                xhr: xhrOnProgress(function (e) {
                    var percent = e.loaded / e.total;
                    $("#progress-bar").css("width", (percent * 500));
                }),

                success: function (arg) {
                    console.log(arg);

                }
            })
        }
    });
</script>


            </div>
        </div>
    </div>


{% endif %}
{% endblock %}



