{% extends 'BBS_base.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block css %}
{% endblock %}


{% block login %}
{% endblock %}
{% block content %}
<div class="container">
    <ol class="breadcrumb offset-1" style="background: #FFFFFF;margin-top: 30px; margin-bottom: 50px">
      <li class="breadcrumb-item"><a href="/BBS_index/">Home:论坛主页</a></li>
      <li class="breadcrumb-item"><a href="#">登录</a></li>
    </ol>
</div>
    <div class="container">
        <div class="row">
            <div class="offset-4">
              <form class='form-login' action="/login/" method="post">
                  {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                  {% endif %}
                  {% csrf_token %}
                  <h2 class="text-center">欢迎登录</h2>
                    <div class="form-group">
                        {{ login_form.username.label_tag }}
                        {{ login_form.username }}
                    </div>
                    <div class="form-group">
                        {{ login_form.password.label_tag }}
                        {{ login_form.password }}
                    </div>
                    <div class="form-group">
                        {{ login_form.captcha.errors }}
                        {{ login_form.captcha.label_tag }}
                        {{ login_form.captcha }}
                    </div>

                  <button type="reset" class="btn btn-default pull-left">重置</button>
                  <button type="submit" class="btn btn-outline-success pull-right">提交</button>
              </form>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}


