{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}个人信息{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
<ol class="breadcrumb offset-1" style="background: #eee;margin-top: 30px; margin-bottom: 30px;">
  <li class="breadcrumb-item"><a href="/index/">Home</a></li>
  <li class="breadcrumb-item"><a href="#">个人信息</a></li>
</ol>
</div>
<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
<div class="container">
    <div class="row">
            {% csrf_token %}
            <div class="col-4">
                <div class="offset-2">
                    <p class="page-header text-info">头像:</p>
                    {% if profile.avatar %}
                        <img src="{{ profile.avatar.url }}" style="border-radius: 15%;" height="200" width="200" >
                    {% else %}
                        <h1>没头像</h1>
                    {% endif %}
                    <br>
                    <label for="avatar">上传头像:</label>
                    <input class="input-sm" type="file" name="avatar" id="avatar" accept="image/*">
                </div>
            </div>
            <div class="col-8">
                <div class="offset-2">
                    <p class="page-header text-info">个人信息:</p>
                    <div class="form-group">
                        <label for="nickname" class="form-inline">昵称: <input type="text" class="form-control" id="nickname" name="nickname" value="{{ profile.nickname }}" /></label>
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="form-inline">用户名: {{ user.user_name }}</label>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="birthday" class="form-inline">生日: <input type="text" class="form-control" id="birthday" name="birthday" value="{{ profile.birthday }}" /></label>
                        </div>
                        <div class="form-group">
                            <label for="nickname" class="form-inline">个性标签:</label>
                            <div class="">
                                <textarea type="text" class="form-control" id="bio" name="bio" rows="10" style="resize:none;">{{ profile.bio }}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="">
                                    <button type="submit" class="btn btn-outline-success" id="btn_profile" name="btn_profile">保存修改</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="offset-4">
                                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal">重置密码</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="height: 10px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            重置密码
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                        <div style="padding: 10px 100px 10px;">
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="请输入原密码" id="old_pwd">
                            </div>
                            <br>
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="请输入新密码" id="new_pwd_1">
                            </div>
                            <br>
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="请再次输入密码" id="new_pwd_2">
                            </div>
                        </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" id="forgetpwd" name="forgetpwd">忘记密码</button>
                        <button type="reset" class="btn btn-default">重置</button>
                        <button type="button" id="reset_pw" name="reset_pw" class="btn btn-outline-info">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>
</div>
</form>
<script>
    $(function () {
        $('#reset_pw').click(function () {
            reset_pwd()
        });
        function reset_pwd() {
            var form = new FormData();
            var old_pwd = $('#old_pwd').val();
            var new_pwd_1 = $('#new_pwd_1').val();
            var new_pwd_2 = $('#new_pwd_2').val();
            form.append('old_pwd', old_pwd);
            form.append('new_pwd_1', new_pwd_1);
            form.append('new_pwd_2', new_pwd_2);
            form.append("csrfmiddlewaretoken", '{{ csrf_token }}');
            $.ajax({
                type: 'post',
                url: '/resetpwd/',
                data: form,
                processData: false,  // 告诉jquery不转换数据
                contentType: false,
                success: function (data) {
                    if(data['status'] != 1){
                        alert(data['message']);
                    }
                    if(data['status'] == 1){
                        alert(data['message']);
                        location.reload();
                    }
                }
            })
        }
    })
</script>

{% endblock %}

