{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}个人信息{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
            <div class="col-lg-offset-6">
                <p class="page-header text-info">头像:</p>
                {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" style="max-width: 100%; border-radius: 15%;">
                {% else %}
                    <h1>没头像</h1>
                {% endif %}
                <label for="avatar">上传头像:</label>
                <input class="input-sm" type="file" name="avatar" id="avatar" accept="image/*">
            </div>
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="col-lg-offset-1">
                <p class="page-header text-info">个人信息:</p>

                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">昵称:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="nickname" name="nickname" value="{{ profile.nickname }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">用户名:</label>
                        <div class="col-sm-6">
                            <div class="text-info">
                                <p class="form-control-static">{{ user.user_name }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthday" class="col-sm-2 control-label">生日:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="birthday" name="birthday" value="{{ profile.birthday }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="col-sm-2 control-label">个性标签:</label>
                        <div class="col-sm-6">
                            <textarea type="text" class="form-control" id="bio" name="bio" rows="10">{{ profile.bio }}</textarea>
                        </div>
                    </div>
                <div class="col-sm-offset-2">
                    <button type="submit" class="btn btn-default" id="btn" name="btn">保存修改</button>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

